{% extends "base.html" %}

{% block titulo %} Confirmar Eliminación {% endblock %}

{% block contenido %} 
<div class="container mt-5">
    <div class="alert alert-danger shadow-lg" role="alert">
        <h4 class="alert-heading">⚠️ ¡Advertencia!</h4>
        <p>Estás a punto de eliminar un medico:</p>
        <h2 class="mb-4"><strong>{{ object.usuario.username }}</strong> </h2>
        <hr>
        <p class="mb-0">¿Estás seguro de que deseas continuar con esta acción? Es irreversible.</p>
    </div>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger btn-lg">Sí, Eliminar</button>
        <a href="{% url 'gestion_citas:medico-list' %}" class="btn btn-secondary btn-lg">Cancelar</a>
    </form>
</div>
{% endblock %}