{% extends "base.html" %}
{% load static %}

{% block titulo %} Dashboard de Administración {% endblock %}

{% block extra_css %}
<!-- 1. CARGA DEL CSS DE DISEÑO ESPECÍFICO (Donde está el Neón y las animaciones) -->
<link rel="stylesheet" href="{% static 'core/css/CSS-personalizado/panel_admin.css' %}">

<!-- 2. ESTILO INYECTADO: Anula el fondo blanco de base.css y coloca la imagen. -->
<style>
    body {
        /* Esto anula el background-color: var(--color-bg-light) de base.css */
        background: url("{% static 'img/fondo_clinica.avif' %}") no-repeat center center fixed !important;
        background-size: cover !important;
    }
</style>
{% endblock %}

{% block contenido %}

<div class="dashboard-content py-5 px-3 p-lg-5">
    <h1 class="hud-title display-1 display-md-2 display-sm-3">
        <i class="bi bi-heart-pulse-fill me-3"></i> HEALTHCARE SYSTEM
    </h1>

    <h2 class="hud-subtitle fs-2 fs-md-3 fs-sm-4">
        — PANEL DE ADMINISTRACIÓN CENTRAL —
    </h2>

</div>

{% endblock %}