<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Sistema de Citas</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        {% if user.is_authenticated %}
          
          {% if user.rol == "admin" %}
            <li class="nav-item"><a class="nav-link" href="{% url 'gestion_citas:paciente-list' %}">Pacientes</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'gestion_citas:medico-list' %}">Médicos</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'gestion_citas:cita-list' %}">Citas</a></li>

          {% elif user.rol == "medico" %}
            <li class="nav-item"><a class="nav-link" href="{% url 'gestion_citas:cita-list' %}">Mis Citas</a></li>

          {% elif user.rol == "paciente" %}
            <li class="nav-item"><a class="nav-link" href="{% url 'gestion_citas:cita-list' %}">Mis Citas</a></li>

          {% endif %}
          
        {% endif %}
      </ul>
    </div>
  </div>
</nav>